.room{
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  .heading{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    // font-family: 'DM Sans';
    color: rgb(70, 70, 70);
    font-size: 2rem;
    font-weight: 500;
    z-index: 1000;
    border-bottom: 1px solid lightgray;
  }

  .room-title{
    display: flex;
    // align-items: center;
    // flex-direction: column;
  }

  .chat_logo {
    color: brown;
    display: flex;
    align-items: center;
    
  }

  .chat_logbox {
   margin-left: 1em;
  }

  #chat_icon {
    margin: 7px;
  }

  .user-title{
    display: flex;
    align-items: center;
  }

  .messages{
      background-color:pink;
      .message{
        padding: 0.1em;
          .user{
            margin-left: 2em;
            padding-left: 0.8em;
            padding-right: 0.8em;
            padding-bottom: 0.5em;
          }
          .msg{
              color: rgba(0, 0, 0, 0.795);
              background: white;
              margin-left: 1em;
              border-radius: 0.8em;
              padding-left: 0.8em;
              padding-right: 0.8em;
              padding-top: 0.5em;
              padding-bottom: 0.5em;

          }
      }
      .my-message{
          align-self: flex-end;
          .user{
              display: none;
          }
          .msg{
            color: white;
            background: #408EEA;
            margin-right: 1em;
            border-radius: 0.8em;
            padding-left: 0.8em;
            padding-right: 0.8em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
          }
      }

  }

  .messages > div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto !important;
    overflow:auto;
    min-height: 70vh;
    max-height: 70vh;
    padding: 1rem;
  }


  .match-time{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:pink;
    color: white;
    // opacity: 60%;
    width: 100%;
    margin-bottom: 1em;
  }

  .empty-message{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EAEAEA;
    opacity: 0.2;
    width: 100%;
  }
  
  .form{
    position: relative;
    z-index: 1000;

    .form_text{
      
      margin: 1em;
      // width: 50%;
      // padding: 5em ;
      // margin: 5em;
      border-radius: 0px 0px 10px 10px;
      // background-color: blue;
    }

    button{
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin-top: 1em;
    }
  }
}

.form_text .MuiInputBase-input {
  margin-right: 2em;
  margin-left: 2em;
}

::placeholder {
  opacity: .5; 
}

@media(max-width : 30em){
  .room{
    .messages{
      flex: 1;
    }
}
}

.form_text {
  border-radius: 15px;
}

.chat_delete {
  color: red;
}

.chat_report {
  color: blue;
}