.profile {
  text-align: center;
}

.profile_pic {
  position: relative;
  width: 200px;
  padding: 20px;
  max-width: 85vw;
  height: 20vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;


}