@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1 {
	font-family: 'Arima Madurai', cursive;
	color: rgb(80, 80, 80);
	font-size: 4rem;
	letter-spacing: -3px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	position: relative;
	z-index: 3;
	
}

.container {
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	/* min-height: 100vh; */
	// min-height: 35rem;
	height: 30vh;
	background-image: linear-gradient(to bottom,  rgba(76, 255, 145, 0.6) 0%,rgba(13, 255, 106, 0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	border-radius: 1em;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
	margin-top: 5em;
	margin-left: 10em;
	margin-right: 10em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dog {
	// background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	// background-image: url("testdog3.svg");
	background-image: url("TESTdoggo.png");
	background-size: auto 100%;
	height: 180px;
	// width: 180px;
	width: 180px;
	will-change: background-position;
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.5s;		
	}
	
	// &--two {
	// 	animation-duration: 0.9s;
	// 	animation-delay: -0.75s;
	// }
	
	&--three {
		animation-duration: 1.25s;
		animation-delay: -0.25s;
	}
	
	// &--four {
	// 	animation-duration: 1.1s;
	// 	animation-delay: -0.5s;
	// }

	// &--one {
	// 	animation-duration: 2s;
	// 	animation-delay: -1.5s;		
	// }
	
	// &--two {
	// 	animation-duration: 2s;
	// 	animation-delay: -0.75s;
	// }
	
	// &--three {
	// 	animation-duration: 3s;
	// 	animation-delay: -1s;
	// }
	
	// &--four {
	// 	animation-duration: 4s;
	// 	animation-delay: -1.25s;
	// }

}

.dog-container {
	position: absolute;
	bottom: -5%;
	left: -40%;
	// right: 100%;
	transform: scale(10) translateX(-10vw);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 15s;
		animation-delay: 0;
	}
	
	// &--two {
	// 	animation-duration: 16s;
	// 	animation-delay: 1s;
	// }
	
	&--three {
		animation-duration: 14.6s;
		animation-delay: 9.5s;
	}
	
	// &--four {
	// 	animation-duration: 16s;
	// 	animation-delay: 10.25s;
	// }

	// &--one {
	// 	animation-duration: 15s;
	// 	animation-delay: 0;
	// }
	
	// &--two {
	// 	animation-duration: 16s;
	// 	animation-delay: 1.5s;
	// }
	
	// &--three {
	// 	animation-duration: 14.6s;
	// 	animation-delay: 9.5s;
	// }
	
	// &--four {
	// 	animation-duration: 16s;
	// 	animation-delay: 10.25s;
	// }
	
}

@keyframes fly-cycle {
	
	100% {
		// background-position: -900px 0;
		background-position: -1500px 0;
		position:relative;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	
}