.candidate_card {
  position:relative;
  width: 800px;
  padding: 10px;
  max-width: 85vw;
  height: 82vh;
  border-radius: 15px;
  background-color: cover;
  background-position: center;
  /* margin-right: 0.5em; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 1em;
  margin-bottom: 1em;
}

 .candidate_info{
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 160px;
  color: white;
}

.candidate_font {
  color: white;
}

.candidate_name{
  color: white;
}

.swipe {
  position: absolute;
}

.button {
  position: absolute;
  bottom: 3vh;
  width: 98%;
  display: flex;
  justify-content: space-around;
  
  
}

.button .MuiIconButton-root {
  background-color: white;
  opacity: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.button_notInterested {
  padding: .2em !important;
  color: red !important;
  
  
}

.button_moreInfo {
  padding: .2em !important;
  color: rgb(0, 0, 255) !important;
  
  
}

.button_loyalty {
  
  padding: .2em !important;
  color: rgb(0, 209, 0) !important;
}

.candidate_dialog {
  font-family: 'Quicksand', sans-serif;
}