.candidate_card {
  position:relative;
  width: 800px;
  /* width: 100em; */
  padding: 10px;
  max-width: 85vw;
  height: 85vh;
  border-radius: 15px;
  background-color: cover;
  background-position: center;
}

 .candidate_info{
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 160px;
  color: white;
}


 .card > h1 {
  position: absolute;
  font-size: 60px;
  padding-left: 10px;
  bottom: 200px;
  color: white;
}

.card > h2 {
  position: absolute;
  bottom: 5em;
  color: white;
}

.card > h3 {
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 150px;
  color: white;
} 

.candidate {
  display:flex;
  justify-content: center;
  margin-top: 1vh;
}

.swipe {
  position: absolute;
}

.button {
  position: absolute;
  bottom: 3vh;
  width: 98%;
  display: flex;
  justify-content: space-around;
  
}

.button .MuiIconButton-root {
  background-color: white;
  opacity: 70%;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.button_notInterested {
  padding: .2em !important;
  color: red !important;
  
}

.button_moreInfo {
  padding: .2em !important;
  color: rgb(0, 0, 255) !important;
}

.button_loyalty {
  
  padding: .2em !important;
  color: rgb(0, 209, 0) !important;
}