.card {
  position:relative;
  /* width: 600px; */
  width: 100em;
  padding: 10px;
  max-width: 95vw;
  height: 85vh;
  border-radius: 15px;
  background-color: cover;
  background-position: center;
}

 .candidate_info{
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 160px;
  color: white;
}


/* .card > h1 {
  position: absolute;
  font-size: 60px;
  padding-left: 10px;
  bottom: 200px;
  color: white;
}

.card > h2 {
  position: absolute;
  bottom: 5em;
  color: white;
}

.card > h3 {
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 150px;
  color: white;
} */

.candidate {
  display:flex;
  justify-content: center;
  margin-top: 1vh;
}

.swipe {
  position: absolute;
}

.button {
  position: fixed;
  bottom: 3vh;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  
}

.button .MuiIconButton-root {
  background-color: white;
  opacity: 60%;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}

.button_notInterested {
  padding: .5em !important;
  color: red !important;
  
}

.button_replay {
  padding: .5em !important;
  color: orange !important;
}

.button_loyalty {
  padding: .5em !important;
  color: green !important;
}