.messenger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid #DFDFDF;
}

.messenger_info {
  flex: 1;
}

.messenger_info > p{
  color: gray;
}

.messenger_timestamp {
  color: #4D4D4D;
}

.messenger_pic {
  margin-right: 20px;
}