.profile {
  display:flex;
  justify-content: center; 
}

.profile_card {
  position:relative;
  width: 600px;
  padding: 10px;
  max-width: 85vw;
  height: 62vh;
  border-radius: 15px;
  background-color: cover;
  background-position: center;
  margin-top: 1.5em;
  margin-left: 2.5em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile_info{
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 25px;
  color: white;
}

.profile_name{
  color: white;
}

.profile_description {
  margin-left: 1.5em;
  margin-bottom: -1em;
}
