.profile {
  display:flex;
  justify-content: center;
  margin-top: 1vh;
}

.profile_info{
  position: absolute;
  font-size: 25px;
  padding-left: 10px;
  bottom: 70px;
  color: white;
}

.profile_card {
  position:relative;
  width: 800px;
  /* width: 100em; */
  padding: 10px;
  max-width: 85vw;
  height: 85vh;
  border-radius: 15px;
  background-color: cover;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* .profile_pic {
  position: relative;
  width: 200px;
  padding: 20px;
  max-width: 85vw;
  height: 20vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
} */

.profile_button {
  position: absolute;
  bottom: 3vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  right: 5%;
}

.profile_button .MuiIconButton-root {
  /* background-color: #b10366; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;
}

.profile_icon {
  /* display: inline-block; */
  border-radius: 60px;
  /* box-shadow: 0px 0px 2px #888; */
  padding: 0.125em 0.15em;
  color: white;
  background-color: #ff008f;
  
}