.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.topNav_logo {
  color: rgb(241, 121, 141);;
  
}

.logoBox {
  padding-left: 1em;
}

.topNav_icon {
  padding: 15px;
  
}
